<div class="container">

    <div class="starter-template">
        <h1>SeatMe</h1>
        <p class="lead">The smarter way to manage customers.<br> Improve wait times through improved communication.</p>
        <a href="/#/register" class="btn btn-primary btn-lg">Get Started Now</a>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Give More</h2>
        <h5>Allow Customers to Order Before They Walk In!</h5>
      </div>
      <div class="col-md-4">
        <h2>Save Your Voice</h2>
        <h5>No more need to call out names or numbers to a disgruntled crowd!</h5>
      </div>
      <div class="col-md-4">
        <h2>Speed Up Your Line</h2>
        <h5>More butts on seats and hungry tummies to feed!</h5>
      </div>
    </div>
</div><!-- /.container -->