<div class="container">

    <div class="starter-template">
        <h1>SeatMe</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <a href="/#/register" class="btn btn-primary btn-lg">Get Started Now</a>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Header</h2>
        <p>Pithy Stuff</p>
      </div>
      <div class="col-md-4">
        <h2>Header</h2>
        <p>Pithy Stuff</p>
      </div>
      <div class="col-md-4">
        <h2>Header</h2>
        <p>Pithy Stuff</p>
      </div>
    </div>
</div><!-- /.container -->